<a href="https://colab.research.google.com/github/skarot/Statistics/blob/main/assgn2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("Sachin_ODI.csv")
df

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,14,0,34,15,2,0,93.33,2,Australia,Sydney,2012-02-26,Australia,False,False
356,39,0,45,30,5,0,130.00,2,Sri Lanka,Hobart,2012-02-28,India,True,False
357,6,0,25,19,1,0,31.57,1,Sri Lanka,Dhaka,2012-03-13,India,True,False
358,114,0,205,147,12,1,77.55,1,Bangladesh,Dhaka,2012-03-16,Bangladesh,False,True
359,52,0,93,48,5,1,108.33,2,Pakistan,Dhaka,2012-03-18,India,True,False

The Probability of losing and not scoring a century,
The Probability of losing or not scoring a century.

In [9]:
win_loss_sample_space = df['Won'].value_counts()
win_loss_sample_space

True     184
False    176
Name: Won, dtype: int64

In [11]:
cent_sample_space = df['century'].value_counts()
cent_sample_space

False    314
True      46
Name: century, dtype: int64

In [12]:
pd.crosstab( index=df['Won'],columns=df['century'],margins=True)

century  False  True  All
Won
False      160    16  176
True       154    30  184
All        314    46  360

In [13]:
#The Probability of losing and not scoring a century
160/360

0.4444444444444444

In [17]:
#The Probability of losing or not scoring a century.
((160+16+154))/360

0.9166666666666666

i) The probability of scoring century given that the opposition is South Africa.

ii) The probability that the opposition is South Africa given that he scored a century.

Index(['runs', 'NotOut', 'mins', 'bf', 'fours', 'sixes', 'sr', 'Inns', 'Opp',
       'Ground', 'Date', 'Winner', 'Won', 'century'],
      dtype='object')

In [ ]:
pd.crosstab(index='')

In [30]:
df.isna().sum()

runs       0
NotOut     0
mins       0
bf         0
fours      0
sixes      0
sr         0
Inns       0
Opp        0
Ground     0
Date       0
Winner     0
Won        0
century    0
dtype: int64

In [58]:
df[(df['Opp'].all()=='South Africa') and (df['century'])]

KeyError: ignored

In [59]:
dft = df[df['Opp']=='South Africa']
dft.count()

runs       44
NotOut     44
mins       44
bf         44
fours      44
sixes      44
sr         44
Inns       44
Opp        44
Ground     44
Date       44
Winner     44
Won        44
century    44
dtype: int64

In [61]:
dfc = df[df['century']==True].reset_index()
dfc.count()

index      46
runs       46
NotOut     46
mins       46
bf         46
fours      46
sixes      46
sr         46
Inns       46
Opp        46
Ground     46
Date       46
Winner     46
Won        46
century    46
dtype: int64

In [48]:
dft = dft[dft['century']==True].reset_index()
dft

,index,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,41,114,0,157,126,14,0,90.47,1,South Africa,Mumbai,1996-12-14,India,True,True
1,143,122,0,195,138,12,0,88.40,2,South Africa,Vadodara,2000-03-17,India,True,True
2,175,101,0,209,129,9,0,78.29,1,South Africa,Johannesburg,2001-10-05,South Africa,False,True
3,338,200,1,226,147,25,3,136.05,1,South Africa,Gwalior,2010-02-24,India,True,True
4,345,111,0,184,101,8,3,109.90,1,South Africa,Nagpur,2011-03-12,South Africa,False,True

In [52]:
pd.crosstab(index = dft['Opp'], columns=dft['century'],margins = True)

century       True  All
Opp
South Africa     5    5
All              5    5

In [60]:
5/44

0.11363636363636363

In [62]:
5/46

0.10869565217391304

1) Fraction of data having outcome = 3 ? Also denoted by fraction(X=3).

a) 0.138
b) 0.187
c) 0.165
d) 0.145
2) If fraction(X <= k) represents the fraction of data less than or equal to k; then find the value of fraction(X <= 5).

a) 0.666
b) 0.834
c) 0.785
d) 0.872

In [19]:
dfr = pd.read_csv('rolling_single_die.csv')
dfr

       die_outcome
0                3
1                1
2                2
3                4
4                1
...            ...
99995            1
99996            4
99997            4
99998            2
99999            6

[100000 rows x 1 columns]

In [20]:
dfr.value_counts()

die_outcome
5              16820
4              16792
2              16721
1              16586
6              16551
3              16530
dtype: int64

In [21]:
dfh = pd.read_csv('weight-height.csv')
dfh

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [22]:
dfh.value_counts()

Gender  Height     Weight
Female  54.263133  64.700127     1
Male    67.830001  172.776569    1
        67.809015  179.934465    1
        67.810251  170.457826    1
        67.814286  192.066392    1
                                ..
Female  64.854997  146.692798    1
        64.855262  150.397118    1
        64.859973  140.784838    1
        64.860659  159.568225    1
Male    78.998742  269.989699    1
Length: 10000, dtype: int64

In [25]:
dfh[dfh['Height']<=70].count()

Gender    8122
Height    8122
Weight    8122
dtype: int64

Probability of â€œat least three foursâ€ and
Probability of â€œat most two foursâ€

In [26]:
dfs = pd.read_csv('Sachin_ODI_2.csv')
dfs

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,14,0,34,15,2,0,93.33,2,Australia,Sydney,2012-02-26,Australia,False,False
356,39,0,45,30,5,0,130.00,2,Sri Lanka,Hobart,2012-02-28,India,True,False
357,6,0,25,19,1,0,31.57,1,Sri Lanka,Dhaka,2012-03-13,India,True,False
358,114,0,205,147,12,1,77.55,1,Bangladesh,Dhaka,2012-03-16,Bangladesh,False,True
359,52,0,93,48,5,1,108.33,2,Pakistan,Dhaka,2012-03-18,India,True,False

In [28]:
dfs['fours'].value_counts()

0     71
1     43
2     38
3     29
5     25
4     22
6     19
9     19
7     17
8     16
10    15
12    11
13    10
11     5
16     5
15     4
14     4
19     2
17     2
20     1
18     1
25     1
Name: fours, dtype: int64

In [29]:
71+43+38

152

In [30]:
360-152

208

In [31]:
208/360

0.5777777777777777

In [32]:
152/360

0.4222222222222222

In [6]:
(119+3+24)/300

0.4866666666666667

In [8]:
p =(119+24)/300 
p

0.4766666666666667

In [9]:
u =(119+3)/300
u

0.4066666666666667

In [10]:
i = 119/300
i

0.39666666666666667

In [13]:
i/u

0.9754098360655737

In [15]:
i/p

0.8321678321678322

The covid_m1.csv contains details of whether a patient was given a medicine (m1) or not, and whether the patient survived (s) or not.

Calculate the following using the above given dataset.
1.) P[m1 and s]
2.) P[m1 | s]
3.) P[s | m1]

In [63]:
dfcov = pd.read_csv('covid_m1.csv')
dfcov

     m1  s
0     0  0
1     0  1
2     0  1
3     0  0
4     1  1
..   .. ..
995   0  1
996   0  1
997   0  0
998   0  1
999   0  0

[1000 rows x 2 columns]

In [64]:
pd.crosstab(index=dfcov['m1'], columns=dfcov['s'],margins = True)

s      0    1   All
m1
0    295  605   900
1      5   95   100
All  300  700  1000

1.) P[m1 and s]

In [66]:
ints = 95/1000
ints

0.095

In [68]:
m = 100/1000
m

0.1

In [69]:
s = 700/1000
s

0.7

2.) P[m1 | s]

In [70]:
ints/s

0.13571428571428573

3.) P[s | m1]

In [71]:
ints/m

0.95